In [1]:
import pandas as pd
import pandasnlp

In [2]:
texts = pd.DataFrame({
    'ids': [0, 1, 2, 3],
    'text': [
        "I like dogs",
        "Me gustan los perros",
        "Cats are faster",
        "Los gatos son más rápidos"
    ]
})

texts

   ids                       text
0    0                I like dogs
1    1       Me gustan los perros
2    2            Cats are faster
3    3  Los gatos son más rápidos

In [3]:
texts.text.nlp.sentences()

0                  [I like dogs]
1         [Me gustan los perros]
2              [Cats are faster]
3    [Los gatos son más rápidos]
Name: text_sentences, dtype: object

In [4]:
texts.text.nlp.embedding()

0    [-1.9776, 1.1495132, -4.1250997, -4.8141036, -...
1    [2.0908, 2.01605, -1.1964376, -2.03224, -1.347...
2    [-3.0035734, 0.40763327, -2.5601335, 1.6682333...
3    [0.65361404, 0.08068599, -1.769434, 0.39944807...
Name: text_embedding, dtype: object

In [5]:
texts.text.nlp.language(confidence=True).apply(pd.Series)

  language  confidence
0       en    0.942476
1       es    0.964401
2       en    0.963804
3       es    0.970963

In [6]:
texts[texts.text.nlp.language() == 'en']

   ids             text
0    0      I like dogs
2    2  Cats are faster

In [7]:
texts[texts.text.nlp.language() == 'es']

   ids                       text
1    1       Me gustan los perros
3    3  Los gatos son más rápidos

In [8]:
themed = pd.DataFrame({
            "id": [0, 1, 2, 3],
            "text": [
                "My computer is broken",
                "I went to a piano concert",
                "Chocolate is my favourite",
                "Mozart played the piano"
            ]
        })

In [9]:
themed.text.nlp.closest(["music", "informatics", "food"])

0    informatics
1          music
2           food
3          music
Name: text_closest, dtype: object